<!DOCTYPE html>
<html>
<head>
    <title>Irene AC League Standings</title>
    <p><strong>Last updated:</strong> {{ last_updated }}</p>
    <link rel="stylesheet" 
    href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"/>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #0047AB;
        }
    </style>
</head>
<body>

<h1>Irene AC League Standings</h1>

{{ table|safe }}

<script>
$(document).ready(function() {
    $('table').DataTable({
        scrollX: true,
        order: [[ $('th:contains("Rank")').index(), 'asc' ]]
    });
});
</script>

</body>
</html>